In [81]:
# import streamlit as st
import seaborn as sns
import pandas as pd
import tensorflow as tf
from sklearn.neighbors import KNeighborsClassifier as KNN
import altair as alt
from sklearn.model_selection import train_test_split
from sklearn import datasets

# import tensorflow_datasets as tfds

In [72]:
skl_load_data = [data for data in dir(datasets) if data.startswith("load")]
# skl_make_data = [data for data in dir(datasets) if data.startswith("make")]
# skl_fetch_data = [data for data in dir(datasets) if data.startswith("fetch")]

In [ ]:
Datasets = {'data1':load_data_1}

Data = Datasets['data1']()

In [ ]:
sklearn.datasets.

In [2]:
sns_datasets = sns.get_dataset_names()

In [100]:
c = skl_load_data[0]

In [121]:
for i in skl_load_data:
    print(i)

load_boston
load_breast_cancer
load_diabetes
load_digits
load_files
load_iris
load_linnerud
load_sample_image
load_sample_images
load_svmlight_file
load_svmlight_files
load_wine

In [128]:
c = 'load_diabetes'

In [139]:
skl_load_data

['load_boston',
 'load_breast_cancer',
 'load_diabetes',
 'load_digits',
 'load_files',
 'load_iris',
 'load_linnerud',
 'load_sample_image',
 'load_sample_images',
 'load_svmlight_file',
 'load_svmlight_files',
 'load_wine']

In [129]:
c

'load_diabetes'

In [142]:
imports = ['sys', 'itertools', 'datetime', 'os']
modules = []
for x in imports:
    try:
        modules.append(__import__(x))
        print ("Successfully imported ", x, '.')
    except ImportError:
        print ("Error importing ", x, '.')

Successfully imported  sys .
Successfully imported  itertools .
Successfully imported  datetime .
Successfully imported  os .

In [133]:
eval('load_diabetes')

In [126]:
datasets.load_diabetes(as_frame=True)['frame']

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485,104.0
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491,132.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930,220.0
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064,57.0

In [118]:
# housing = fetch_openml(name="house_prikeys", as_frame=True)
# housing['data']

In [3]:
sns_datasets

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [ ]:
['car_crashes', 'mpg', 'taxis', 'tip']

In [50]:
df = sns.load_dataset('anscombe')

In [51]:
df

   dataset     x      y
0        I  10.0   8.04
1        I   8.0   6.95
2        I  13.0   7.58
3        I   9.0   8.81
4        I  11.0   8.33
5        I  14.0   9.96
6        I   6.0   7.24
7        I   4.0   4.26
8        I  12.0  10.84
9        I   7.0   4.82
10       I   5.0   5.68
11      II  10.0   9.14
12      II   8.0   8.14
13      II  13.0   8.74
14      II   9.0   8.77
15      II  11.0   9.26
16      II  14.0   8.10
17      II   6.0   6.13
18      II   4.0   3.10
19      II  12.0   9.13
20      II   7.0   7.26
21      II   5.0   4.74
22     III  10.0   7.46
23     III   8.0   6.77
24     III  13.0  12.74
25     III   9.0   7.11
26     III  11.0   7.81
27     III  14.0   8.84
28     III   6.0   6.08
29     III   4.0   5.39
30     III  12.0   8.15
31     III   7.0   6.42
32     III   5.0   5.73
33      IV   8.0   6.58
34      IV   8.0   5.76
35      IV   8.0   7.71
36      IV   8.0   8.84
37      IV   8.0   8.47
38      IV   8.0   7.04
39      IV   8.0   5.25
40      IV  19.0  12.50
41      IV   8.0   5.56
42      IV   8.0   7.91
43      IV   8.0   6.89

In [52]:
class Model:
     
    def __init__(self):
        
        self.classifier = KNN(n_neighbors=5)
        # self.model_type = model_type
        
    # creating a classification model  
    def build_class_model(self, model_name, df, y='y', drop_col=['d_c']):
        
        X = df.drop(columns=drop_col)
        y = df[y]
        
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
        
         # convert from dataframes to numpy for training
        X_train = X_train.values

        X_test = X_test.values
        y_train = y_train.values

        y_test = y_test.values

        # Building and training model "classifier"
        self.classifier.fit(X_train, y_train)  # training

        new_pred = self.classifier.predict(X_test)

        # Check the accuracy of our model
        accuracy = self.classifier.score(X_test, y_test)
        # acc = accuracy_score(y_test, new_pred)

        # save model
        # save_cl_model(self.classifier, model_name)
        print('Classification Model saved as: ' + model_name)

        return self.classifier, df, accuracy, new_pred

    def load_cls_model(self, filename='my_model'):
        with open(filename, 'rb') as file:
            cl_classifier = pickle.load(file)
        return cl_classifier
    
    def save_cls_model(model, filename='my_model'):
        with open(filename, 'wb') as file:
            pickle.dump(model, file)

In [53]:
df.tail()

   dataset     x      y
39      IV   8.0   5.25
40      IV  19.0  12.50
41      IV   8.0   5.56
42      IV   8.0   7.91
43      IV   8.0   6.89

In [54]:
md = Model()

## CLS:
**n_neighbors**
**label column**
**columns to drop**
**model type(SVM or KNN)**


## REG:

In [55]:
X = df.drop(columns=['dataset'])

In [59]:
a,b,c,d = md.build_class_model('my_model1', df, y='dataset', drop_col=['dataset'])

Classification Model saved as: my_model1

In [60]:
d = pd.DataFrame({'A' : []})

In [61]:
d.empty

True